parameters:
    paths:
        - .
    level: 5
    bootstrapFiles:
        - shell/wpuwooimportexport/inc/bootstrap.php
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
        - wp-content/mu-plugins/wpu/wpu_acf_flexible/inc/helpers.php
        - wp-content/mu-plugins/wpu/WPUBaseSettings/WPUBaseSettings.php
    ignoreErrors:
        - '#Function get_field not found#'
        - '#Function get_sub_field not found#'
        - '#Function have_rows not found#'
        - '#Function pll_get_post not found#'
        - '#Function pll_get_post_translations not found#'
        - '#Function pll_save_term_translations not found#'
        - '#Function pll_set_term_language not found#'
        - '#Function the_row not found#'
        - '#Function has_sub_field not found#'
        - '#Function wpu_cached__wpdb_get not found#'
        - '#Function wpu_extranet__get_dashboard_page not found#'
        - '#Function wpu_extranet_change_password__action not found#'
        - '#Function wpu_extranet_change_password__form not found#'
        - '#Function wpu_extranet_get_menu not found#'
        - '#Function wpu_extranet_lostpassword__action not found#'
        - '#Function wpu_extranet_lostpassword__form not found#'
        - '#Function wpu_extranet_register__action not found#'
        - '#Function wpu_extranet_register__form not found#'
        - '#Function wpu_extranet_update_metas__action not found#'
        - '#Function wpu_extranet_update_metas__form not found#'
        - '#Function wputh_cache_get_external_file not found#'
        - '#Function wputh_cached_nav_menu not found#'
        - '#Function wputh_display_title not found#'
        - '#Function wputh_get_breadcrumbs not found#'
        - '#Function wputh_get_breadcrumbs_html not found#'
        - '#Function wputh_get_cached_metas not found#'
        - '#Function wputh_get_menu_items not found#'
        - '#Function wputh_get_oembed_infos not found#'
        - '#Function wputh_get_posts not found#'
        - '#Function wputh_get_share_methods not found#'
        - '#Function wputh_get_social_links_html not found#'
        - '#Function wputh_get_social_links_ids not found#'
        - '#Function wputh_get_time_tag not found#'
        - '#Function wputh_l18n_get_option not found#'
        - '#Function wputh_search_terms not found#'
        - '#Function wputh_translated_url not found#'
        - '#Function wputh_truncate not found#'
        - '#get_comment_meta expects bool, int given#'
        - '#get_post_meta expects bool, int given#'
        - '#get_term_meta expects bool, int given#'
        - '#get_user_meta expects bool, int given#'
        - '#json_decode expects bool, int given#'
    excludePaths:
        - 'vendor/'
        - 'node_modules/'
        - 'shell/wpuwooimportexport'
        - 'wp-activate.php'
        - 'wp-admin/'
        - 'wp-blog-header.php'
        - 'wp-comments-post.php'
        - 'wp-config-sample.php'
        - 'wp-config.php'
        - 'wp-content/advanced-cache.php'
        - 'wp-content/cache/'
        - 'wp-content/db.php'
        - 'wp-content/mu-plugins/wpu/'
        - 'wp-content/object-cache.php'
        - 'wp-content/plugins/'
        - 'wp-content/themes/project_id/node_modules/'
        - 'wp-content/themes/WPUTheme/'
        - 'wp-content/uploads/'
        - 'wp-cron.php'
        - 'wp-includes/'
        - 'wp-links-opml.php'
        - 'wp-load.php'
        - 'wp-login.php'
        - 'wp-mail.php'
        - 'wp-settings.php'
        - 'wp-signup.php'
        - 'wp-trackback.php'
        - 'xmlrpc.php'

